/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}




@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUI.eot')format('embedded-opentype'), url('../fonts/SegoeUI.woff')format('woff'), url('../fonts/SegoeUI.ttf')format('truetype'), url('../fonts/SegoeUI.svg#CooperBlackStd')format('svg');
    font-weight: normal;font-style: normal;
    
}

.event_headding{
    position:relative;
}
.event_headding h5{
    color:#888;
    font-size:medium;
    font-weight:600;
}

.no-margin-bottom{
    margin-bottom:0 !important;
}
.no-margin-top{
    margin-top:0 !important;
}
.mb50{
    margin-bottom:50px !important;
}
.mb10{
    margin-bottom:10px !important;
}
.mt10{
    margin-top:10px !important;
}
.mb30{
    margin-bottom:30px !important;
}
.mt30{
    margin-top:30px !important;
}
.mt50{
    margin-top:50px !important;
}

.mt60{
    margin-top:60px !important;
}

.text-align-right{
    text-align:right !important;
}
.text-align-center{
    text-align:center !important;
}
.white-txt{
    color:#fff !important;
}
td a{
    color:#fff !important;
}
.no_padding_td {
    padding:0 !important;
}
.large_txt{
    font-size:xx-large;
    font-weight:bold;
    margin:0 !important;
}
.relative{
    position:relative !important;
}

header{
    background-color:#00baff;
    /*position:fixed;*/
    position:absolute;
    width:100%;
    z-index:200;
    top:0;
}

#fixed_header{
    background-color:#00baff;
    width:100%;
/*position:fixed;*/
 position:absolute;
    z-index:100;
    padding:10px 0;
}

header h1 {
    font-size:larger;
    color:#fff;
    margin:0;
    padding:15px 5px;
    font-weight:normal;
}
.circular {
    width:30%;
    border:5px solid #fff;
    box-shadow: 5px 2px 5px #ccc;
    -moz-box-shadow: 5px 2px 5px #ccc;
    -webkit-box-shadow: 5px 2px 5px #ccc;
    -khtml-box-shadow: 5px 2px 5px #ccc;
}
.circular_schools {
    width:100%;
    border:5px solid #fff;
    box-shadow: 5px 2px 5px #ccc;
    -moz-box-shadow: 5px 2px 5px #ccc;
    -webkit-box-shadow: 5px 2px 5px #ccc;
    -khtml-box-shadow: 5px 2px 5px #ccc;
}
.login_button{
    position:absolute;
    border:none;
    bottom:-30px;
    right:15px;
}

.login_box{
    width:100%;
    background-color:#00ad5f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 1px 2px 1px #ccc;
    -moz-box-shadow: 1px 2px 1px #ccc;
    -webkit-box-shadow: 1px 2px 1px #ccc;
    -khtml-box-shadow: 1px 2px 1px #ccc;
    position:relative;
    float:left;
    padding:10px;
}
.login_box p{
    color:#fff !important;
}
.remember{
    color:#fff;
    font-size:13px;
}

.login_text_box{
    border:none !important;
    box-shadow: 1px 2px 1px #009351 !important;
    -moz-box-shadow: 1px 2px 1px #009351 !important;
    -webkit-box-shadow: 1px 2px 1px #009351 !important;
    -khtml-box-shadow: 1px 2px 1px #009351 !important;
    margin-top:10px;
    
}

.textfield{
    color:#333 !important;
    background-color:#fff !important;
    border:none !important;
    border-radius:5px !important;
    
}
.calendar_button{
    position:absolute;
    border:none;
    bottom:-30px;
    right:5px;
    z-index:2;
}
.login_form{
    background-color:#fff !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    color:#333 !important;
    width:90% !important;
    padding:0 5% !important;
    
}
placeholder{
    color:#333;
}

.search_box{
    background-color:#00ad5f !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    color:#fff !important;
    width:80% !important;
    padding:0 10% !important;
    
}
#search{position:relative;}

.search_button{
    position:absolute;
    top:3px;
    right:13px;
    background:none !important;
    box-shadow:none !important;
    border-radius:0 !important;
}

#schoolListGrid{
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
}
#schoolListGrid li{
    margin:0;
    display:inline-block;
    padding:0 10px;
    width:40%;
    
}

#schoolListGrid li a:hover{
    opacity:0.8;
}
#schoolListGrid p{
    font-size:small;
}

#top_nav{
    list-style:none;
    margin:0 !important;
    padding:0;
    width:100%;
    
}
#top_nav li{
    margin:0;
    display:inline-block;
    padding:0;
    color:#fff !important;
}
#top_nav li a{
    color:#fff !important;
}

.top_nav_title{
    font-size:medium;
    color:#fff !important;
}
.event_td_pink{
    background-color:#ff4d81 !important;
    padding:0 !important;
    border-radius:0 !important;
    text-align:center;
}
.event_td_darkblue{
    background-color:#015699 !important;
    padding:10px !important;
    border-radius:0 !important;
    text-align:left;
}
.event_td_blackblue{
    background-color:#19438b !important;
    padding:10px !important;
    border-radius:0 !important;
    text-align:left;
}

.ash{
    border-bottom:1px solid #fff;
    background-color:#a5a5a5;
    color:#3a3a3a;
    width:100%;
    text-align:center;
}

.ash td{
    padding:10px;
    border-radius:0 !important;
    
}
.ash td:first-child {
    background-color:#c2c2c2;
    padding:10px;
    text-align:center;
    border-radius:0 !important;
}

.ash:hover{
    background-color:#015699;
    color:#fff;
}

.ash:hover td:first-child {
    background-color:#ff4d81;
}


.messages {
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
    position: relative;
    font-size:small; }
.messages .messages-item {
    background-color: #f2f2f2;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0 0 5px 0;
    -moz-box-shadow:    1px 1px 1px 1px #cecece;
    -webkit-box-shadow: 1px 1px 1px 1px #cecece;
    box-shadow:        1px 1px 1px 1px #cecece;
}
.messages .messages-item.avatar.active {
    background-color: #fff;
    color:#333;
}
.messages .messages-item.avatar {
    padding-left: 55px;
    position: relative; }
.messages .messages-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle; }
.messages .messages-item.avatar i.circle {
    font-size: x-large;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center; }
.messages .messages-item.avatar .title {
	   text-align:right !important;}
.messages .messages-item.avatar p {
    margin: 0;}
.messages .messages-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px; }
.messages .messages-item:last-child {
    border-bottom: none; }
.messages .messages-item.active {
    background-color: #26a69a;
    color: #eafaf9; }
.messages a.messages-item {
    display: block;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    color: #26a69a; }
.messages a.messages-item:not(.active):hover {
    background-color: #ddd; }
.messages.with-header .messages-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px; }
.messages.with-header .messages-item {
    padding-left: 30px; }
.messages.with-header .messages-item.avatar {
    padding-left: 72px; }

.message_txt_box{
    width:70%;
}
.message_txt_date{
    width:30%;
    text-align:right !important;
}


#dashboard{
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    text-align:center;
}
#dashboard li{
    margin:0 0 10px 10px;
    display:inline-block;
    background-color:#fff;
    box-shadow:1px 1px 1px 1px #c1c1c1;
    padding:10px 10px 0;
    min-width:140px;
    font-size:small;
    min-height:175px;
}
#dashboard li a{
    color:#000 !important;
}

.preloader_blue{
    position:absolute;
    top:40%;
    left:40%;
    z-index:100;
}
.proceed_box{
    background:none !important;
    box-shadow:none !important;
    padding:0;
    margin:0;
    color:#fff !important;
}

.proceed_img{
    max-width:100%;
}

.bg_ash{
    background-color:#eeeeee;
    font-size:small;
    padding:10px 5px;
    margin:0;
}
.bg_white{
    background-color:#fff;
    font-size:small;
    padding:10px 5px;
    margin:0;
}
.bg_white>label{
    color:#333 !important;
}
.bg_ash>label{
    color:#333 !important;
}
.profile_square {
    width:30%;
    border:5px solid #fff;
    box-shadow: 5px 2px 5px #ccc;
    -moz-box-shadow: 5px 2px 5px #ccc;
    -webkit-box-shadow: 5px 2px 5px #ccc;
    -khtml-box-shadow: 5px 2px 5px #ccc;
    margin-top:10px;
}

.profile_table{
    padding:10px !important;
    background-color:#fff;
    font-size:small;
}

#proceed_green{
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    
}
#proceed_green li{
    margin:10px 0 0 0 !important;
    padding:10px;
    font-size:small;
    background:#00ad5e !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.leave_ash{
    background-color:#eeeeee;
    font-size:small;
    padding:10px;
    margin:0;
    color:#333;
}
.leave_ash p{
    font-size:small !important;
    margin-top:0;
    
}
.leave_ash>label{
    font-size:small !important;
}
.leave_white{
    background-color:#fff;
    font-size:small;
    padding:10px;
    margin:0;
    color:#333;
}
.leave_white>label{
    font-size:small !important;
    margin-top:0;
    
}
.applyleave_textarea{
    background-color:#fff !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    color:#333 !important;
    width:100% !important;
    padding:5% !important;
    font-size:small !important;
    border:1px solid #ccc;
    
}
.applyleave_form{
    background-color:#fff !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    color:#333 !important;
    width:90% !important;
    padding:0 5% !important;
    border:1px solid #ccc !important;
    height:2.3rem !important;
    background-image:url(../images/calander_icon.png);
    background-repeat:no-repeat;
    background-position:right;
}


.apply_leave_button{
    font-size: small;
    margin: 5% 15%;
    width: 70%;
}
.attendence_green{
    background-color:#00ad5e;
    font-size:small;
    padding:10px;
    margin:0;
    color:#fff;
    text-align:center;
}
.attendence_green_head{
    background-color:#009350;
    margin:0 !important;
    width:100%;
    padding:5px;
    text-align:center;
    color:#fff;
}
.attendence_green p{
    text-align:center;
}
.absence_green_head{
    background-color:#009350;
    margin:0 !important;
    width:100%;
    padding:10px;
    text-align:center;
    color:#fff;
    position: relative;
}
.attendence_number{
    position:absolute;
    border:none;
    top:7px;
    right:15px;
}

.check_attendence_button{
    font-size: small;
    margin: 5% 15%;
    width: 73%;
}

.select_student_proceed {
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
    position: relative;
    font-size:small; }
.select_student_proceed .select_student_proceed-item {
    background-color: #00ad5e;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0 0 5px 0;
    -moz-box-shadow:    1px 1px 1px 1px #cecece;
    -webkit-box-shadow: 1px 1px 1px 1px #cecece;
    box-shadow:        1px 1px 1px 1px #cecece;
    color:#fff;
}
.select_student_proceed .select_student_proceed-item.avatar.active {
    background-color: #00ad5e;
    color:#fff;
}
.select_student_proceed .select_student_proceed-item.avatar {
    padding-left:10px;
    position: relative; }
.select_student_proceed .select_student_proceed-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle; }
.select_student_proceed .select_student_proceed-item.avatar i.circle {
    font-size: x-large;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center; }
.select_student_proceed .select_student_proceed-item.avatar .title {
	   text-align:right !important;}
.select_student_proceed .select_student_proceed-item.avatar p {
    margin: 0;}
.select_student_proceed .select_student_proceed-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px; }
.select_student_proceed .select_student_proceed-item:last-child {
    border-bottom: none; }
.select_student_proceed .select_student_proceed-item.active {
    background-color: #26a69a;
    color: #eafaf9; }
.select_student_proceed a.select_student_proceed-item {
    display: block;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s;
    color: #26a69a; }
.select_student_proceed a.select_student_proceed-item:not(.active):hover {
    background-color: #ddd; }
.select_student_proceed.with-header .select_student_proceed-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px; }
.select_student_proceed.with-header .select_student_proceed-item {
    padding-left: 30px; }
.select_student_proceed.with-header .select_student_proceed-item.avatar {
    padding-left: 72px; }

.select_student_proceed p{
    padding:0;
    
}
.profile_bg_blue{
    background-color:#00a3e1;
    padding:5%;
}


.circular_profile {
    width:30%;
    border:5px solid #fff;
    box-shadow: 1px 2px 5px #333;
    -moz-box-shadow: 1px 2px 5px #333;
    -webkit-box-shadow: 1px 2px 5px #333;
    -khtml-box-shadow: 1px 2px 5px #333;
    margin-bottom:5%;
}
.drop_button{
    width:0;
    box-shadow:none;
    background:none;
    
}
.drop_button:hover{
    background:none;
    box-shadow:none;
}

.drop_button-content {
    background-color:#0294cb;
    margin: 0;
    display: none;
    min-width: 200px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height; }
.drop_button-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    line-height: 1rem;
    width: 100%;
    text-align: left;
    text-transform: none; }
.drop_button-content li:hover, .drop_button-content li.active {
    background-color: #00baff; }
.drop_button-content li > a, .drop_button-content li > span {
    font-size:small;
    color: #26a69a;
    display: block;
    padding: 1rem 1rem; }
.drop_button-content li > a > i {
    height: inherit;
    line-height: inherit; }

.dropdown_push_top{
    top:50px !important;
}

.popupBoxBackground {
    position: fixed;
    width: 100%;
    z-index: 10000;
    background-color: rgba(000,000,000,0.5);
    height: 100%;
    top:0;
}
.popupBox{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    z-index: 100;
}
.card_title_color {
    color: #000 !important;
}
.text_align_center {
    text-align: center;
}

.custom_card_action{
    background-color: #00baff;
    color:#fff;
    width: 100%;
    padding: 10px 20px !important;
}

.collapsible_exam{
    border:none;
    box-shadow:none;
}
.collapsible_exam_head{
    color:#ff4d81 !important;
}
.collapsible_exam_head>i{
    color:#333 !important;
}
.collapsible_exam_tabletxt{
    font-size:small;
}
.collapsible_exam_tr{
    background-color:#00ad5e !important;
    border-radius:5px !important;
    color:#fff;
}
.collapse_green_head{
    width:100%;
    background-color:#00ad5e;
    padding:5px;
    margin:5px 0;
    border-radius:5px;
}
.collapse_green_head h6{
    font-size:small;
    color:#fff !important;
}
.collapse_ash{
    width:100%;
    background-color:#d9d9d9;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
}
.collapse_ash h6{
    font-size:small;
    color:#333 !important;
}
.collapse_ash_light{
    width:100%;
    background-color:#e6e6e6;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
}
.collapse_ash_light h6{
    font-size:small;
    color:#333 !important;
}
.collapse_ash_dark{
    width:100%;
    background-color:#959595;
    padding:5px;
    margin-bottom:5px;
    border-radius:5px;
}
.collapse_ash_dark h6{
    font-size:small;
    color:#fff !important;
}
.red-text{
    color:red !important;
}
.collapse_darkblue_head{
    width:100%;
    background-color:#0096cf;
    padding:5px 5px 5px 15px;
    margin-top:5px;
}
.collapse_darkblue_head h6{
    font-size:small;
    color:#fff !important;
    margin-top:5px;
}

.collapse_dark3_green_head{
    width:100%;
    background-color:#008548;
    padding:5px 5px 5px 15px;
    
}
.collapse_dark3_green_head h6{
    font-size:small;
    color:#fff !important;
    text-align:center;
    font-weight:bold;
}
.collapse_blue3_blue_head{
    width:100%;
    background-color:#009fdc;
    padding:5px 5px 5px 15px;
    
}
.collapse_blue3_blue_head h6{
    font-size:small;
    color:#fff !important;
    text-align:center;
    font-weight:bold;
}
.collapse_exam_ash{
    width:100%;
    background-color:#d9d9d9;
    padding:5px;
}
.collapse_exam_ash h6{
    font-size:small;
    color:#333 !important;
}
.collapse_exam_ash_light{
    width:100%;
    background-color:#e6e6e6;
    padding:5px;
}
.collapse_exam_ash_light h6{
    font-size:small;
    color:#333 !important;
}

/*
#containingDiv{
    width: 160px !important;
    height: 160px !important;
}
#containingDiv img{
    width: 100% !important;
    height: 100% !important;
}*/